<Layouts.flash_group flash={@flash} />
<div></div>


<div class="btn btn-xl btn-primary from-primary to-secondary border-none bg-gradient-to-r hover:opacity-90 transition-opacity duration-200 ">
  Click me
</div>
<div class="btn btn-xl btn-outline btn-secondary">
  Click me
</div>